body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.div-center {
    margin-top: 25%;
    margin-bottom: 25%;
}